.controlButton {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.stepInput {
    border-radius: 5px;
    width: 90px;
}

.animationPanelContainer{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    min-width: 350px;
    width: 35%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #343a40;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #343a40;
    cursor: pointer;
}

#animationPanel {
    position: fixed;
    bottom: 1%;
    width: 100%;
    text-align: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switchSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switchSlider {
    background-color: #901E1C;
}

input:focus + .switchSlider {
    box-shadow: 0 0 1px #901E1C;
}

input:checked + .switchSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch input:disabled + .switchSlider {
    opacity: 0.5;
    cursor: default;
}